extends layout
block content
  h1 #{article.title}
  h5 written by !{author}
  p #{article.body}
  hr
  if user
    if user.id == article.author
      a( class="btn waves-effect" href='/articles/edit/'+article._id) Edytuj
      a( class="btn waves-effect" href='/articles/home', data-id=article._id) Usuń
