doctype html
pretty:true
html
  head
    title Profile
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
    link(rel="stylesheet" href="/ui/dist/css/materialize.css")
    link(href="/css/style.css" rel="stylesheet")
    script(src="/ui/dist/js/materialize.min.js" type="text/javascript")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="/js/main.js")
  body(style="  display: flex;min-height: 100vh;flex-direction: column;")
    != messages('alert', locals)
    nav
      div(class="nav-wrapper")
        if user
          ul(class="right")
            li
              a(href="/articles/home")
                i(class="material-icons") home
            li 
              a(href="/articles/profile/" + user._id)
                i(class="material-icons") person
            li
              a(href='/users/logout' class="tooltiped" data-position="bottom" data-delay="50" data-tooltip="Wyloguj")
                  i(class="material-icons") exit_to_app
              
        else
          a(href="#" data-activates="mobile-demo" class="button-collapse")
            i(class="material-icons") menu
          ul(class="right hide-on-med-and-down")
            li
              a(href="/articles/home") Ogłoszenia
            li
              a(href="/users/register") Zarejestruj
            li
              a(href="/users/login") Zaloguj
          ul(class="side-nav" id="mobile-demo")
            li
              a(href="/users/register") Register
            li
              a(href="/users/login") Login
    div(class="container" style="flex:1 0 auto;")
      block content
    br
    if !user
      footer(class="page-footer")
        div(class="footer-copyright")
          div(class="container")
            | ©2017 Lubię Placki
            a(class="grey-text text-lighten-4 right" href="http://siekamcebulke.tk/") Siekam Cebulke
  script $(document).ready(function(){ $(".button-collapse").sideNav(); $('.tooltipped').tooltip({delay: 50});})
