extends layout

block content
  if errors
      each error, i in errors
        script var data = "!{error.msg}"; Materialize.toast(data, 4000)
  div(class="row")
    div(class="col s6 offset-s3")
      div(class="card-panel ")
        h3 Zaloguj
        div(class="row")
          form(method='POST', action='/users/login')
            div(class="input-field col s12")
              i(class="material-icons prefix") account_circle
              #form-group
              input( id='username_in' name='username' type='text')
              label(for="username_in") Nazwa Użytkownika:
            div(class="input-field col s12")
              i(class="material-icons prefix") lock
              #form-group
              input( id='pass' name='password' type='password')
              label(for="pass") Hasło
            br
            input.btn(type='submit' value='Zaloguj')
