extends layout
block content
  div(class="row")
    div( class="col s12 m12")
      div(class='card')
        div(class="card-image")
          img(src="../../../../upload/" + data.photo)
          form(action="/articles/profile/upload/" +data._id ,  method="post", enctype="multipart/form-data")
            input(type="file", style="display:none", onchange="form.submit()", id="img", name="image")
            label(for="img" class="btn-floating halfway-fab waves-effect waves-light red")
              i(class="material-icons") camera
        div( class="card-content")
          form(method='POST', action="/articles/profile/edit/" +data._id)
            #form-group
              label Imię i nazwisko:
              input.form-control(name='name', type='text' value=data.name)
            #form-group
              label Opis:
              div(class="input-field")
                textarea.form-control(name='about', type='text', class="materialize-textarea") #{data.about}
            input.btn.btn-primary(type='submit',value='submit')
        
